.singer_r_img {
	display: block;
	width: 114px;
	height: 52px;
	line-height: 45px;
	background: url(images/sing_week.gif) right 2px no-repeat;
	vertical-align: middle;
	*margin-bottom: -10px;
	text-decoration: none;
}

.singer_r_img:hover {
	background-position: right -53px;
	text-decoration: none;
}

.singer_r_img span {
	margin-left: 14px;
	font-size: 16px;
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei',
		sans-serif !important;
	font-weight: 700;
	color: #165379;
}

.singer_r_img.current {
	background: url(images/sing_sing.gif) no-repeat 0 2px;
	border: 0;
	text-decoration: none;
}

.sign table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.sign th, .sign td {
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #e3e3e3;
}

.sign th {
	font-size: 16px;
}

.sign td {
	color: #404040;
	vertical-align: middle;
}

.sign .on {
	background-color: #DACACA;
}

.calendar_month_next, .calendar_month_prev {
	width: 34px;
	height: 40px;
	cursor: pointer;
	background: url(images/sign_arrow.png) no-repeat;
}

.calendar_month_next {
	float: right;
	background-position: -42px -6px;
}

.calendar_month_span {
	display: inline;
	line-height: 40px;
	font-size: 16px;
	color: #656565;
	letter-spacing: 2px;
	font-weight: bold;
}

.calendar_month_prev {
	float: left;
	background-position: -5px -6px;
}

.sign_succ_calendar_title {
/* 	width:98%; */
	text-align: center;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	background: #fff;
}

.sign_main {
	width:98%;
	border-top: 1px solid #e3e3e3;
	font-family: "Microsoft YaHei", SimHei;
	background: white;
}

* {
	margin: 0;
	padding: 0;
	font: 14px/1.8 "Helvetica Neue", "microsoft yahei";
}

ul, li {
	list-style: none;
}

body {
	background: #fff;
}

.checkin {
	margin: auto auto auto auto;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
	display: block;
	line-height: 0
}

.clearfix:after {
	clear: both;
	font-size: 0;
	height: 0;
	display: block;
	visibility: hidden;
	content: " ";
	line-height: 0
}

.clearfix {
	zoom: 1
} /* for IE6 IE7 */
.title {
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	margin-bottom: 10px;
}

.title p {
	float: left;
	width: 80%;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
}

.title a {
	display: inline-block;
	width: 20%;
	height: 36px;
	line-height: 36px;
	text-align: center;
	background: #42941a;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

.checkin li {
	background: #fee684;
	float: left;
	padding: 10px;
	text-align: center;
}

li.able-qiandao {
	background: #e9c530;
}

li.checked {
	background: #fee684 url(http://i2.piimg.com/508767/a9576b09fc014d6e.png)
		no-repeat center;
}

.mask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.55);
	visibility: hidden;
	transition: all 0.25s ease
}

.modal {
	background: #fff;
	width: 100%;
	height: 400px;
	border-radius: 10px;
	position: absolute;
	margin-top: -200px;
	margin-left: -225px;
	left: 50%;
	top: 50%;
	border: 5px solid #42941a;
	box-sizing: border-box;
	overflow: hidden;
	transform: translateY(-200%);
	transition: all 0.25s ease
}

a.closeBtn {
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
	font-family: 'simsun';
	font-size: 18px;
	text-decoration: none;
	font-weight: bolder;
	color: #333
}

.title_h1 {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	padding-top: 80px;
	display: block;
	width: 100%
}

.title_h1 span {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #42941a;
	color: #fff;
	position: relative;
	float: left;
	margin-left: 30%;
	margin-top: 7px;
}

.title_h1 span::before {
	width: 10px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 8px;
	top: 23px;
	display: block;
	line-height: 0;
	font-size: 0;
	content: "";
	transform: rotate(52deg);
}

.title_h1 span::after {
	width: 24px;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 12px;
	top: 20px;
	display: block;
	line-height: 0;
	font-size: 0;
	content: "";
	transform: rotate(-45deg);
}

.title_h1 em {
	display: inline-block;
	font-size: 30px;
	float: left;
	margin-left: 10px;
}

.title_h1 i {
	display: inline-block;
	font-size: 16px;
	float: left;
	margin: 14px 0 0 10px;
}

.title_h2 {
	text-align: center;
	font-size: 16px;
	display: block;
	padding-top: 20px;
}

.title_h2 span {
	font-size: 36px;
	color: #b25d06;
}

.trf {
	visibility: visible;
}

.trf .modal {
	transform: translateY(0);
}

.button {
	width: 20%;
	height: 30px;
	background: #ab2e2e;
	text-align: center;
	line-height: 30px;
	color: white;
	border: none;
	font-size: 17px;
	margin: 60px 0 15px 0;
}